In [1]:
import pandas as pd
df = pd.read_csv('داده_کامل_خیابانهای_شیراز.csv')

In [3]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   نام خیابان                159 non-null    object
 1   سکانس                     159 non-null    object
 2   جداره و نما               159 non-null    int64
 3   کف سازی پیاده روها        159 non-null    int64
 4   مبلمان شهری               159 non-null    float64
 5   تبلیغات محیطی             159 non-null    int64
 6   عناصر شهری                159 non-null    int64
 7   المان های شهری            159 non-null    int64
 8   جریان سطحی آب و زه کشی    159 non-null    float64
 9   طرح کاشت                  159 non-null    int64
 10  آسایش محیطی               159 non-null    int64
 11  اختلاط کاربری             159 non-null    int64
 12  فعالیت در فضاهای عمومی    159 non-null    int64
 13  خوانایی فضایی             159 non-null    int64
 14  دسترس پذیری               159 non-null    int64
 15  ایمنی و امنیت             159 non-null    int64
 16  اجتماعی                   159 non-null    int64
 17  فرهنگی                    159 non-null    int64
 18  کل ابعاد کالبدی و فیزیکی  159 non-null    float64
 19  کل ابعاد طبیعی و اکولوژی  159 non-null    int64
 20  کل عملکردی                159 non-null    int64
 21  کل حرکتی                  159 non-null    int64
 22  کل اجتماعی و فرهنگی       159 non-null    int64
 23  امتیاز کل                 159 non-null    float64
dtypes: float64(4), int64(18), object(2)
memory usage: 29.9+ KB

,جداره و نما,کف سازی پیاده روها,مبلمان شهری,تبلیغات محیطی,عناصر شهری,المان های شهری,جریان سطحی آب و زه کشی,طرح کاشت,آسایش محیطی,اختلاط کاربری,...,دسترس پذیری,ایمنی و امنیت,اجتماعی,فرهنگی,کل ابعاد کالبدی و فیزیکی,کل ابعاد طبیعی و اکولوژی,کل عملکردی,کل حرکتی,کل اجتماعی و فرهنگی,امتیاز کل
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,...,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,7.389937,9.075472,5.733962,3.729560,1.817610,1.213836,4.833333,3.767296,2.037736,4.383648,...,2.132075,1.358491,3.603774,1.949686,33.793711,5.805031,6.157233,10.534591,5.553459,61.844025
std,1.731729,1.816058,1.786087,1.041454,1.168442,1.021074,1.481603,0.994892,1.130065,0.644340,...,0.738740,0.722890,1.079257,1.200204,7.962242,1.801820,1.375806,2.484840,2.002049,13.890228
min,3.000000,5.000000,0.500000,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,3.000000,...,1.000000,0.000000,1.000000,0.000000,16.300000,1.000000,3.000000,4.000000,1.000000,28.300000
25%,6.000000,8.000000,4.400000,3.000000,1.000000,0.000000,4.000000,3.000000,1.000000,4.000000,...,2.000000,1.000000,3.000000,1.000000,27.900000,5.000000,5.000000,9.000000,4.000000,50.400000
50%,8.000000,9.000000,5.700000,4.000000,2.000000,1.000000,5.000000,4.000000,2.000000,4.000000,...,2.000000,1.000000,4.000000,2.000000,35.000000,6.000000,6.000000,11.000000,6.000000,65.200000
75%,9.000000,10.000000,6.850000,5.000000,3.000000,2.000000,6.000000,5.000000,3.000000,5.000000,...,3.000000,2.000000,4.000000,3.000000,38.800000,7.000000,7.000000,12.000000,7.000000,71.200000
max,11.000000,13.000000,9.900000,6.000000,4.000000,4.000000,8.000000,6.000000,5.000000,5.000000,...,3.000000,5.000000,5.000000,4.000000,51.300000,10.000000,9.000000,16.000000,9.000000,89.900000